/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;

  /*
  outline: 1px solid red !important;
  */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* For mobile */

/* Header styles */
.app-bar {
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 48px;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  padding: 54px 32px 0 24px;
  justify-content: space-between;
  align-items: center;
}

.menu,
footer {
  display: none;
}

.image-container div {
  display: flex;
  flex-direction: row;
}

#logo {
  align-items: center;
  padding: 10px 12px;
  width: 114px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2);
}

#logo:hover {
  color: #36b37e;
}

#hamburger {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  z-index: 2;
  background-image: url("../images/Hamburguer-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#hamburger.showMobil {
  background-image: url("../images/cross.svg");
}

/* Headline styles */

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 0 24px;
  background-image: url(../images/mobile-background.svg);
  background-repeat: no-repeat;
  gap: 58px;
  width: 100%;
  left: 0;
  top: 92px;
}

.headline > div {
  width: 100%;
}

h1,
h2,
h3 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
}

h1,
h2 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

h3 {
  font-size: 32px;
  line-height: 44px;
}

p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

#i-am:hover {
  color: #36b37e;
}

#i-am-a {
  color: #36b37e;
}

#i-am-a:hover {
  color: #172b4d;
}

.supporting-text {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

div .social {
  padding: 0 100px 0 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

div .social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

div .social-icons .social-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 10px 0 10px;
  width: 100%;
  height: 100%;
}

div .action {
  width: 100%;
  height: 5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.action img {
  width: 100%;
  padding-top: 20px;
  opacity: 0.5;
}

/* My Recent Works Styles */

#recent-works {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  text-align: center;
  padding: 0 24px;
  margin-top: -50px;
}

.recent-works__text {
  width: 100%;
  padding: 0 24px;
  align-items: center;
  text-align: center;
}

/* Here is the grid division */

.recent-works__cards {
  display: grid;
  row-gap: 24px;
  padding: 30px 24px;
  align-items: center;
}

.recent-works__card {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 30rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
}

.recent-works__img {
  align-self: center;
  width: 20rem;
  height: 30rem;
  left: 50%;
  top: 50%;
  transform: translateY(-50% -50%);
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
}

.recent-works__img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-works__info {
  width: 100%;
  height: 14rem;
  background: #fff;
  border-radius: 8px;
  transform: translateY(-103%);
  padding: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-works__title {
  display: flex;
  color: #3a4a42;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 0.4rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recent-works__tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-style: normal; /* text style */
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.recent-works__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  padding: 10px;
  gap: 10px;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 24px;
  background-color: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500; /* font style */
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
  border: none;
}

.recent-works__link:hover {
  color: #ebf0ee;
}

.recent-works__link:active {
  color: #fff;
  background-color: #008552;
}

/* About me styles */

#about-me {
  padding: 50px 12px;
  background-image: url(../images/top.svg), url(../images/bottom.svg);
  background-repeat: no-repeat;
  background-position: top -1.5rem right -3.5rem, top 22rem left -50px;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.about-me__primary-text {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  color: #172b4d;
}

.about-me__cards:is(ul) {
  display: grid;
  row-gap: 24px;
  padding-top: 50px;
}

.about-me__works {
  height: 350px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-me__icon {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 2rem rgba(37, 47, 137, 0.08);
}

.about-me__languages {
  margin-top: -80px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about-me__tags {
  list-style: none;
  margin-top: -90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
}

.about-me__tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  background-color: white;
  padding: 12px 12px;
  border-radius: 8px;
}

.about-me__link {
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: white;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
}

/* Contact Form Styles */

#contact-form {
  display: flex;
  flex-direction: column;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: url(../images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: bottom 11rem right 0;
}

.contact-form__primary {
  padding: 2rem 2.5rem 2rem 2.5rem;
}

.contact-form__form {
  padding: 24px 24px 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.contact-form__form input {
  margin-bottom: 24px;
}

.contact-form__input {
  background: #fff;
  border: 1px solid #d0d9d4;
  padding: 0 16px;
  border-radius: 4px;
  width: 327px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#name,
#email {
  border: 1px solid #d0d9d4;
  height: 48px;
}

.contact-form__form textarea {
  background: transparent;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 327px;
  height: 114px;
  resize: vertical;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

/* Resizer styles */

.contact-form__form textarea::-webkit-resizer {
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Placeholder text Styles */

/* Chrome, Firefox, Opera, Safari 10.1+ */
.contact-form__form textarea::placeholder {
  color: #091e42;
}

/* Microsoft Edge */
.contact-form__form textarea::-ms-input-placeholder {
  color: #091e42;
}

/* Internet Explorer 10-11 */
.contact-form__form textarea:-ms-input-placeholder {
  color: #091e42;
}

.contact-form__form button {
  width: 129px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  gap: 10px;
  margin-top: 24px;
  align-self: center;
}

.contact-form__form button:hover {
  background: #36b37f;
  box-shadow: 0 0.5rem 1.5rem rgba(54, 179, 127, 0.24);
}

.contact-form__form button:active {
  background: #008552;
}

.contac-form__email {
  padding-top: 17px;
  height: 189px;
}

.allViewHeight {
  height: 100vh;
}

.menu__link {
  text-decoration: none;
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 0.5rem 0.7rem;
  transition-property: all;
  transition-duration: 0.7s;
}

.menu__link:hover {
  background-color: #36b37f;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.8rem;
}

.menu.showMobil {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  border-radius: 0 0 25px 25px;
}

.menu.showMobil > ul {
  width: 90%;
  margin: 92px auto;
}

.menu.showMobil a {
  display: block;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 24px;
}

/* Modal styles */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-in-out;
  border: 1px solid #ebf0ee;
  box-shadow: 0 2rem 2rem rgba(37, 47, 137, 0.08);
  border-radius: 8px;
  background-color: white;
  width: 95%;
  height: 95%;
  justify-content: center;
  padding: 0.5rem 1rem 1rem 1rem;
  overflow: scroll;
  overflow-x: hidden;

  /* scale: 0.9; */
}

/* Scroll Render */
.modal::-webkit-scrollbar {
  width: 0.4em;
}

.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: lightgray;
  outline: 1px solid darkgrey;
  border-radius: 5px;
}

.modal-window {
  width: 100%;
  height: 100%;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: center / contain no-repeat url(../images/snapshoot-portfolio-mobile.png);
  border-radius: 8px;
  height: 15rem;
  width: 100%;
}

.modal-header > div {
  padding: 0 0 60% 85%;
}

.modal__close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border-radius: 8px;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-header img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cfe1e6;
}

.modal.body {
  display: flex;
  margin: 0;
}

.modal-title,
#modal-header-img,
ul:is(.modal__tags) {
  display: none;
}

.modal-title-mobile {
  display: flex;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal-title h3 {
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 60%;
  text-align: left;
}

.link1 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.link2 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.modal__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #36b37f;
  border-radius: 8px;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  bottom: 1rem;
  margin-right: 1rem;
}

.modal__link:hover {
  color: #ebf0ee;
  box-shadow: 0 0.3rem 0.3rem rgba(54, 179, 127, 0.24);
}

a .modal-icon {
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  justify-content: baseline;
}

.modal__tags-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0.7rem 0;
  gap: 0.4rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.modal__tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-style: normal; /* text style */
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #344563;
}

p:is(.modal-text) {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  padding: 0.2rem 0 0.2rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(193, 199, 208, 0.8);
  pointer-events: all;
  width: 100vw;
  height: 100vh;
}

/* Desktop */
@media (min-width: 768px) {
  #hamburger,
  nav.image-container,
  div.image-container,
  .recent-works__text > img,
  div.contact-form__social,
  div.contac-form__email {
    display: none;
  }

  .app-bar {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }

  .menu {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .menu__link {
    text-decoration: none;
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 0.5rem 0.7rem;
    transition-property: all;
    transition-duration: 0.7s;
  }

  .menu__link:hover {
    background-color: #36b37f;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 0.8rem;
  }

  /* Hero */
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/header-desktop.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: contain;
    padding-top: 2rem;
    width: 100%;
    overflow: hidden;
  }

  .primary {
    width: 100%;
    padding: 12vw 18vw 18vw 18vw;
  }

  .primary > div {
    margin: 1.5vw;
  }

  h1,
  h2 {
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  #i-am:hover {
    color: #36b37e;
  }

  #i-am-a {
    color: #36b37e;
  }

  #i-am-a:hover {
    color: #172b4d;
  }

  #i-am span:hover {
    color: #3b4043;
  }

  .supporting-text {
    height: 7rem;
    color: #172b4d;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  div .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2vh 0 0 0;
  }

  div .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
    height: 100%;
  }

  div .social-icons .social-icon:hover {
    scale: 1.13;
  }

  div .action {
    width: 100%;
    height: 10rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-top: 8vw;
  }

  .action img {
    width: 100%;
  }

  /* My Recent Works Styles */

  #recent-works {
    width: 100%;
    padding: 10rem 8rem 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .recent-works__text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .recent-works__text:hover {
    background-image: url(../images/green-line.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
  }

  .recent-works__cards {
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3rem 2rem;
    flex-wrap: wrap;
    border: none;
    padding: 5rem 0;
  }

  .recent-works__card {
    justify-content: center;
    flex: none;
    flex-grow: 0;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
    transition: all;
    transition-duration: 0.7s;

    /* width: 18rem;
    height: 25rem; */
  }

  .recent-works__card:hover {
    scale: 1.1;
    margin: 0.8rem;
    box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.2);
  }

  .recent-works__img {
    align-self: center;
    left: 50%;
    top: 50%;
    transform: translateY(-50% -50%);
    border-radius: 8px;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
  }

  .recent-works__img img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recent-works__info {
    width: 100%;
    height: 12rem;
    background: #fff;
    border-radius: 8px;
    transform: translateY(-103%);
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent-works__title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #172b4d;
    display: flex;
    flex: none;
  }

  .recent-works__tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.4rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-wrap: nowrap;
  }

  .recent-works__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #172b4d;
    background: #ebf0ee;
    height: 1.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .recent-works__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #36b37f;
    border-radius: 4px;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 7.5rem;
    height: 2.5rem;
    bottom: 1rem;
    border: none;
  }

  .recent-works__link:hover {
    color: #ebf0ee;
    box-shadow: 0 0.3rem 0.3rem rgba(54, 179, 127, 0.24);
  }

  .recent-works__link:active {
    color: #fff;
    background-color: #008552;
  }

  /* About me styles */

  #about-me {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0;
    grid-template-areas:
      "about-me__text about-me__text about-me__text"
      "about-me__cards about-me__cards about-me__cards";
    padding: 2rem 8rem;
    background-image: url(../images/top.svg), url(../images/bottom.svg);
    background-repeat: no-repeat;
    background-position: top 0 right -3rem, top 14rem left -3rem;
    background-size: 15rem, 13rem;
  }

  .about-me__text {
    grid-area: about-me__text;
    place-self: center;
    padding: 3rem 5rem;
    text-align: center;
  }

  .about-me__primary-text {
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    color: #172b4d;
    padding: 2rem 0;
  }

  .about-me__primary-text:hover {
    background-image: url(../images/green-line.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom 1.5rem;
  }

  .about-me__text p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    padding: 2rem 0;
  }

  .about-me__link {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #36b37f;
    color: white;
    border-radius: 4px;
    padding: 1rem;
    width: 10rem;
    bottom: 1rem;
  }

  .about-me__link:hover {
    box-shadow: 0 0.3rem 0.3rem rgba(54, 179, 127, 0.24);
  }

  .about-me__link:active {
    background: #008552;
  }

  .about-me__cards:is(div) {
    grid-area: about-me__cards;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0;
    grid-auto-flow: row;
  }

  .about-me__cards:is(ul) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-me__works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    height: 20rem;
    background-color: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .about-me__works:hover {
    box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.2);
  }

  .about-me__icon {
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 2rem rgba(37, 47, 137, 0.08);
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .about-me__languages {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #344563;
    text-align: center;
  }

  .about-me__tags {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    padding: 1rem;
    margin-top: -3rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    list-style: none;
  }

  .about-me__tag {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #36b37e;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    transition: all;
    transition-duration: 0.3s;
  }

  .about-me__tag:hover {
    margin: 0 0.5rem 0 0.5rem;
    box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.2);
  }

  /* Contact Form Styles */

  #contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 10rem 8rem 18rem 8rem;
    background-image: url(../images/contact-form-desktop-1.svg), url(../images/contact-form-desktop-2.svg), url(../images/contact-form-desktop-3.svg);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0, bottom 8rem left 20rem, bottom 0 right 0;
    background-size: 15rem, 10rem, 15rem;
  }

  .contact-form__primary {
    width: 50%;
  }

  .contact-form__primary > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-right: 1.5rem;
  }

  .contact-form__form {
    width: 50%;
    margin-bottom: 1rem;
  }

  .contact-form__form input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .contact-form__input {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    padding: 0 1rem;
  }

  #name,
  #email {
    border: 1px solid #d0d9d4;
    height: 3rem;
  }

  .contact-form__form textarea {
    width: 100%;
    height: 6rem;
    background: transparent;
    border: 1px solid #60c095;
    border-radius: 4px;
    resize: vertical;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 1rem;
  }

  /* Resizer styles */

  .contact-form__form textarea::-webkit-resizer {
    background-image: url(../images/Union.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  /* Placeholder text Styles */

  /* Chrome, Firefox, Opera, Safari 10.1+ */
  .contact-form__form textarea::placeholder {
    color: #091e42;
  }

  /* Microsoft Edge */
  .contact-form__form textarea::-ms-input-placeholder {
    color: #091e42;
  }

  /* Internet Explorer 10-11 */
  .contact-form__form textarea:-ms-input-placeholder {
    color: #091e42;
  }

  .contact-form__form input:hover,
  .contact-form__form textarea:hover {
    box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.2);
  }

  .contact-form__form button {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    background-color: #36b37f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    width: 9rem;
    bottom: 1rem;
    margin-top: 1rem;
  }

  .contact-form__form button:hover {
    box-shadow: 0 0.3rem 0.3rem rgba(54, 179, 127, 0.24);
  }

  .contact-form__form button:active {
    background: #008552;
  }

  .contac-form__email {
    padding-top: 17px;
    height: 189px;
  }

  footer {
    width: 100%;
    height: 4rem;
    border-top: 1px solid #dfe1e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .github {
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .linkedin {
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .angellist {
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .twitter {
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .medium {
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 100ms ease-in-out;
    border: 1px solid #ebf0ee;
    box-shadow: 0 2rem 2rem rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    background-color: white;
    width: 920px;

    /* max-width: 80%; */
    height: 80%;

    /* max-height: 95%; */
    justify-content: center;
    padding: 0.5rem 1rem 1rem 1rem;
    overflow: scroll;
    overflow-x: hidden;

    /* scale: 0.9; */
  }

  /* Scroll Render */
  .modal::-webkit-scrollbar {
    width: 0.4em;
  }

  .modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .modal::-webkit-scrollbar-thumb {
    background-color: lightgray;
    outline: 1px solid darkgrey;
    border-radius: 5px;
  }

  .modal-window {
    width: 100%;
    height: 100%;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: none;
    height: auto;
  }

  .modal-header > div {
    padding: 0 0 0 97%;
  }

  .modal__close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ebecf0;
    font-size: 1.25rem;
    color: #67798e;
    border-radius: 8px;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .modal-header img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #cfe1e6;
  }

  .modal.body {
    display: flex;
    margin: 0;
  }

  .modal-title-mobile,
  .modal__tags-mobile {
    display: none;
  }

  #modal-header-img {
    display: initial;
  }

  ul:is(.modal__tags) {
    display: contents;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0.7rem 0;
    gap: 0.4rem;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .modal-title {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
  }

  .modal-title h3 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 60%;
    text-align: left;
    margin-right: 2.5rem;
  }

  .link1 {
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .link2 {
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .modal__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    justify-content: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #36b37f;
    border-radius: 8px;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 8rem;
    height: 2.5rem;
    bottom: 1rem;
    margin-right: 0;
    margin-left: 1rem;
  }

  .modal__link:hover {
    color: #ebf0ee;
    box-shadow: 0 0.3rem 0.3rem rgba(54, 179, 127, 0.24);
  }

  a .modal-icon {
    height: 1.3rem;
    width: 1.3rem;
    border: none;
    justify-content: baseline;
  }

  .modal__tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0.7rem 0;
    gap: 0.4rem;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .modal__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
    height: 32px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-style: normal; /* text style */
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #344563;
  }

  p:is(.modal-text) {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    padding: 0.2rem 0 2rem 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(193, 199, 208, 0.8);
    pointer-events: all;
    width: 100vw;
    height: 100vh;
  }
}
