/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background: #e5e5e5;
}

/* Header styles */
.app-bar {
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 48px;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  padding: 54px 32px 0 24px;
  justify-content: space-between;
  align-items: center;
}

.image-container div {
  display: flex;
  flex-direction: row;
}

#logo {
  align-items: center;
  padding: 10px 12px;
  width: 114px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2);
}

#hamburger {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
}
