---
// Layout
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

// Sections
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portfolio Ruth Abreu - Web Developer and Programmer"
  description="Hire me to build your next website or web application. I'm a web developer and programmer with experience in HTML, CSS, JavaScript, React, Ruby on Rails, and more."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <Hero />
    </SectionContainer>

    <SectionContainer id="about-me">
      <About />
    </SectionContainer>

    <SectionContainer id="work-experience" class="pb-24 pt-32">
      <Experience />
    </SectionContainer>

    <SectionContainer id="recent-works">
      <Projects />
    </SectionContainer>

    <SectionContainer id="contact-form">
      <Contact />
    </SectionContainer>
  </main>
</Layout>

<style></style>
