---
// Info
import json from "@/js/info.json";


// Layout
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";

// Sections
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
---

<Layout
  title="Portfolio Ruth Abreu - Web Developer and Programmer"
  description="Hire me to build your next website or web application. I'm a web developer and programmer with experience in HTML, CSS, JavaScript, React, Ruby on Rails, and more."
>
  <main class="px-4">
    <SectionContainer
      id="home"
      class="pt-32 pb-12 lg:pt-52 lg:pb-40 md:pt-44 md:pb-24">
        <Hero />
    </SectionContainer>

    <SectionContainer
      id="work-experience"
      class="pb-24 pt-20 lg:pt-24 lg:pb-32 obs transition-all ease-in-out delay-100 duration-[1000ms]"
    >
      <Experience />
    </SectionContainer>

    <SectionContainer id="recent-works" class="obs transition-all ease-in-out delay-100 duration-[1000ms]">
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me" class="py-10 obs transition-all ease-in-out delay-100 duration-[1000ms]">
      <About />
    </SectionContainer>

    <SectionContainer id="contact-form" class="py-10 obs transition-all ease-in-out delay-100 duration-[1000ms]">
      <Contact />
    </SectionContainer>

    <Footer />
  </main>
</Layout>

<style></style>
