<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
  <h2
    class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
  >
    Contact me
  </h2>
  <p
    class="mb-8 lg:mb-16 text-center text-gray-500 dark:text-gray-400 sm:text-xl"
  >
    I'm always interested in hearing about new projects, so if you'd like to
    chat please get in touch.
  </p>
  <form
    action="https://formspree.io/f/xqkrlpjv"
    method="POST"
    class="space-y-8"
  >
    <div>
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Your name</label
      >
      <input
        type="text"
        id="name"
        class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="Full name"
        required
      />
    </div>
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Your email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="name@domain.com"
        required
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Your message</label
      >
      <textarea
        id="message"
        name="message"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Let me know how I can help you..."></textarea>
    </div>
    <button
      type="submit"
      class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >Send message</button
    >
  </form>
</div>
