<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="https://www.linkedin.com/in/ruth-abreu/" class="hover:underline"
        >Ruth Abreu</a> | Inspired by the idea of the great <a href="https://midu.dev/" class="hover:underline"
        >Midudev</a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#about-me" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#recent-works" class="hover:underline me-4 md:me-6">Projects</a>
      </li>
      <li>
        <a href="#work-experience" class="hover:underline me-4 md:me-6">Experience</a>
      </li>
      <li>
        <a href="#contact-form" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
