---
---

<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">

  <nav class="flex flex-row gap-x-8 text-white">
    <a
      class="opacity-80 hover:opacity-100 transition-opacity duration-300"
      href="/#home"
    >
      Home
    </a>
    <a
      class="opacity-80 hover:opacity-100 transition-opacity duration-300"
      href="/#work-experience"
    >
      Experience
    </a>
    <a
      class="opacity-80 hover:opacity-100 transition-opacity duration-300"
      href="/#recent-works"
    >
      Projects
    </a>
    <a
      class="opacity-80 hover:opacity-100 transition-opacity duration-300"
      href="/#about-me"
    >
      About me
    </a>
    <a
      class="opacity-80 hover:opacity-100 transition-opacity duration-300"
      href="/#contact-form"
    >
      Contact
    </a>
  </nav>
</header>
